#title {
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-size: 3rem;
  color: #a13941ff;
}
.container {
  width: 60%;
  margin: 3rem auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #17252a;
  text-align: justify;
  line-height: 1.5;
  align-self: left;
}
